In [6]:
import pandas as pd

In [7]:
#csv formatında kaydetmek için to_csv() metodu kullanılır.
#parametre olarak kaydedilecek konumun yolunu + dosya adını alır.
#excel dosyaı olarak kaydetmek için to_excel fonk.u kullanılır.

In [8]:
veri = {"isim":["x","y","z","w"],"yas":[38,24,19,51],"sehir":["izmir","düzce","malatya","edirne"],"maas":[3000,4000,5000,2000]}

In [9]:
df = pd.DataFrame(veri)

In [10]:
df

  isim  yas    sehir  maas
0    x   38    izmir  3000
1    y   24    düzce  4000
2    z   19  malatya  5000
3    w   51   edirne  2000

In [17]:
dosyaAdi = "veri.xlsx"

In [18]:
df.to_excel("C:/Users/kaptan/Desktop/Ben/Career/Data Science/Python/ogrenmeProjeleri/yardımcı eklentiler/"+dosyaAdi)