In [1]:
#pandas çerçevelerin oluşturmak için sıklıkla kullanılan 2 yol vardır.
#bunların ilki numpy kütüphanesinin sunduğu fonk.lar kullanılarak oluşturulan dizinin pandas fonk.ları ile kullanılmasıdır.
#diğeri ise python dilinin sağlamış olduğu dict. veri yapısını pandas fonk.larında kullanmaktır.

In [2]:
import numpy as np
import pandas as pd

In [3]:
#NUMPY DİZİLERİNDEN PANDAS VERİ ÇERÇEVESİ OLUŞTURMA

In [5]:
veri = np.array([["ali",3.45],["ayşe",2.35],["deniz",4.20]]) #veri çerçevesinin değerleri
sutunIsimleri = (["isimler","ücret"]) #sütun isimleri
df = pd.DataFrame(veri,columns=sutunIsimleri) #veri çerçevesi oluşturduk

In [6]:
df

  isimler ücret
0     ali  3.45
1    ayşe  2.35
2   deniz   4.2

In [7]:
#SÖZLÜK YAPILARINDAN PANDAS VERİ ÇERÇEVESİ OLUŞTURMA

In [8]:
veri = {"isimler":["ali","ayşe","deniz"],"ücret":[3.45,2.35,4.20]} #key sütun ismi, value değerlerdir.

In [10]:
df = pd.DataFrame(veri) #veri çerçevesi oluşturduk

In [11]:
df

  isimler  ücret
0     ali   3.45
1    ayşe   2.35
2   deniz   4.20