In [1]:
#.TXT DOSYASINDAN VERİ OKUMA

In [2]:
import pandas as pd

In [3]:
#örnek bir dosyanın ekran görüntüsü
#isim, mevki, değer
#cristiano ronaldo, sol kanat, 120m
#kevin de bruyne, on numara, 100m
#pepe, stoper, 30m

In [9]:
df = pd.read_csv("C:/Users/kaptan/Desktop/Ben/Career/Data Science/Python/ogrenmeProjeleri/yardımcı eklentiler/veri.txt")

In [15]:
df

                 isim       mevki  değer
0  Christiano Ronaldo   sol kanat   120m
1     Kevin De Bruyne   on numara   100m
2                Pepe      stoper    30m

In [16]:
#.CSV DOSYASINDAN VERİ OKUMA

In [26]:
df = pd.read_csv("C:/Users/kaptan/Desktop/Ben/Career/Data Science/Python/ogrenmeProjeleri/yardımcı eklentiler/veri2.csv")

In [21]:
df #.csv dosyası utf-8 (vigülle ayrılmış *.csv dosyasıdır. aksi takdirde hata veriyor.)

         isim;mevki;değer
0  ronaldo;sol kanat;120m
1   bruyne;on numara;100m
2         pepe;stoper;30m