In [49]:
import pandas as pd
import numpy as np

In [50]:
ytVeri = {"cinsiyet":["e","k","k","e","k","e"],"mezun":["lisans","lisans","master","lisans","ön lisans","master"],"yaş":[19,24,32,26,21,45],"aboneSayısı":[20000,25000,18000,40000,35000,8000]}

In [51]:
ytVeri

{'cinsiyet': ['e', 'k', 'k', 'e', 'k', 'e'],
 'mezun': ['lisans', 'lisans', 'master', 'lisans', 'ön lisans', 'master'],
 'yaş': [19, 24, 32, 26, 21, 45],
 'aboneSayısı': [20000, 25000, 18000, 40000, 35000, 8000]}

In [52]:
ytv = pd.DataFrame(ytVeri)

In [53]:
ytv #bu veri çerçevesinde ön lisans, lisans ve master grupları oluşmuştur.

  cinsiyet      mezun  yaş  aboneSayısı
0        e     lisans   19        20000
1        k     lisans   24        25000
2        k     master   32        18000
3        e     lisans   26        40000
4        k  ön lisans   21        35000
5        e     master   45         8000

In [54]:
ytv.groupby("mezun").mean([2,3]) #ortak mezuniyet değerine sahip verilerin belirtilen indeksteki değerlerinin ortalamasını verir
#indekslediğimiz sütunlar sayı değeri olmalıdır, string değil.

            yaş   aboneSayısı
mezun
lisans     23.0  28333.333333
master     38.5  13000.000000
ön lisans  21.0  35000.000000

In [62]:
ytv.iloc[:,2:].apply([np.sum,np.mean,np.std])

             yaş    aboneSayısı
sum   167.000000  146000.000000
mean   27.833333   24333.333333
std     9.537645   11707.547423

In [64]:
#appyl() metodu ile kendi tanımladığımız fonksiyonları kullanabiliriz.
#axis = 1 her satır axis = 0 her bir sütun için işlem yapar.

In [65]:
#Bir filtreleme örneği
def sart(vektor):
    return vektor["yaş"] < 28 and vektor["aboneSayısı"] > 20000

In [68]:
ytv[ytv.apply([sart],axis=1).values]

  cinsiyet      mezun  yaş  aboneSayısı
1        k     lisans   24        25000
3        e     lisans   26        40000
4        k  ön lisans   21        35000