In [1]:
import pandas as pd

In [11]:
veri = {"isim":["x","y","z","w"],"yas":[38,24,19,51],"tutulan takım":["rm","juve","manu","liv"],"maas":[3000,4000,5000,2000]}

In [12]:
df = pd.DataFrame(veri)

In [13]:
df

  isim  yas tutulan takım  maas
0    x   38            rm  3000
1    y   24          juve  4000
2    z   19          manu  5000
3    w   51           liv  2000

In [14]:
df.shape

(4, 4)

In [15]:
df.info() #veri çerçevesinin özetine genel bir bakış
#her bir sütunu, veri tipini ve eksik bilgi olup olmadığını söyler

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   isim           4 non-null      object
 1   yas            4 non-null      int64
 2   tutulan takım  4 non-null      object
 3   maas           4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [16]:
#milyon satırlarca verimiz olsaydı her satırı yazdıramazdık. onun yerine ilk satırdaki sütun blgileri değerlerine bakarak
#genel bir yapıyı gözümüzde canlandırmak isteriz. bunun için .head() fonksiyonu kullanılır.

In [17]:
df.columns #verimizin sütun isimlerine erişmek için kullanılır.

Index(['isim', 'yas', 'tutulan takım', 'maas'], dtype='object')

In [18]:
df.index #satır isimlerini görmek için kullanılır. bu isimleri değiştirmek mümkün.

RangeIndex(start=0, stop=4, step=1)

In [19]:
yeniSatirIsimleri = ["satır1","satır2","satır3","satır4"]
df.index = yeniSatirIsimleri #satır isimlerini değiştirdik.

In [20]:
df #sütun isimleri değişmemiştir.

       isim  yas tutulan takım  maas
satır1    x   38            rm  3000
satır2    y   24          juve  4000
satır3    z   19          manu  5000
satır4    w   51           liv  2000

In [21]:
df.index #sütun isimlendirilmesi değişmiştir.

Index(['satır1', 'satır2', 'satır3', 'satır4'], dtype='object')

In [22]:
# verilerimizdeki istediğimiz bölgelere temelde iki yöntem ile erişebiliriz.
#bunların ilki .iloc[] diğeri ise .loc[]'tur.
#iloc[], sayılar ile kullanılırken loc[] stringler ile kullanılır.
#kullanım kolaylığı açısından iloc[] daha sık tercih edilir.

In [23]:
df.iloc[[0,2],[0,3]] #[[satır1, satır3], [isim, maas]]

       isim  maas
satır1    x  3000
satır3    z  5000

In [24]:
df.loc[["satır1","satır3"],["isim","maas"]]

       isim  maas
satır1    x  3000
satır3    z  5000

In [25]:
df.iloc[:,2] #2 numaralı indeksli sütun yazdırılmıştır.

satır1      rm
satır2    juve
satır3    manu
satır4     liv
Name: tutulan takım, dtype: object

In [30]:
df.iloc[1,:] #satır2'nin değerleri yazdırılmıştır.

isim                y
yas                24
tutulan takım    juve
maas             4000
Name: satır2, dtype: object

In [35]:
df.iloc[:,1:3] #1. ve 3. indeks arasında yer alan sütunların değerlerin yazdırılmıştır.

        yas tutulan takım
satır1   38            rm
satır2   24          juve
satır3   19          manu
satır4   51           liv

In [36]:
df.describe() #verimizdeki verilen temel istatistik detaylarını görüntülemiş oluruz
#bu fonksiyon yalnızca sayısal değerler için çalışır.
#her sütun için eleman sayısı, ortalama değer, standart sapma, en küçük ve en büyük değerler arasındaki dağılım görünür.

             yas         maas
count   4.000000     4.000000
mean   33.000000  3500.000000
std    14.445299  1290.994449
min    19.000000  2000.000000
25%    22.750000  2750.000000
50%    31.000000  3500.000000
75%    41.250000  4250.000000
max    51.000000  5000.000000