In [2]:
#veri çerçevesi 2 boyutlu, sql tablosu benzeri bir veri yapısıdır.
#veri çerçeveleri, seri tipinde olan farklı sütun türlerine sahip olurlar.
#pandas kütüphanesinde en sık kullanılan veri nesnesidir.

In [3]:
import pandas as pd

In [4]:
sutunIsimleri = ["tek sayılar","çift sayılar"] #veri çerçevesinin sütun isimlerinin yer aldığı liste

In [5]:
veri = [[1,2],[3,4],[5,6]] #veri çerçevesinin değerlerinin yer aldığı bir içe içe liste

In [6]:
df = pd.DataFrame(veri,columns=sutunIsimleri)

In [7]:
df

   tek sayılar  çift sayılar
0            1             2
1            3             4
2            5             6