# Özellik dönüşümleri
- normalizasyon
1. formül: $x_{scaled} = \frac{x_i - x_{min}}{x_{max}-x{min}}$
2. bu formül min max normalizasyonu diye geçer.
3. 0-1 arasına ölçeklendirilir.
- standardizasyon
1. tüm değerleri ortalamadan çıkartıp standart sapmaya böleriz.
2. formül: $x_{scaled} = \frac{x_i - x_{mean}}{x_{std}}$
3. standardizasyon ile +3 ile -3 arasına ölçeklendirelir.
- scikitlearn içinde çeşitli ölçeklendirici fonksiyonlar vardır.

In [11]:
import pandas as pd
import numpy as np

In [3]:
veri_seti = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
set = veri_seti.Age.fillna(value=veri_seti.Age.mean()) #yaşın ortalma değeri ile doldurduk.

In [5]:
set.min()

0.42

In [6]:
set.max()

80.0

In [7]:
normalize_edildi = (set - set.min()) / (set.max() - set.min())
#min max normalizasyonu 0 ile 1 arasına ölçeklendirilmişdir.

In [12]:
normalize_edildi.min()

0.0

In [13]:
normalize_edildi.max()

1.0

In [9]:
set

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [8]:
normalize_edildi

0      0.271174
1      0.472229
2      0.321438
3      0.434531
4      0.434531
         ...
886    0.334004
887    0.233476
888    0.367921
889    0.321438
890    0.396833
Name: Age, Length: 891, dtype: float64

In [10]:
#örnek olarak birini kontrol edelim:
(set[0] - set.min()) / (set.max() - set.min())
#sonuç doğru.

0.2711736617240513

In [14]:
standardize_edildi = (set-set.mean()) / set.std()

In [15]:
standardize_edildi.min()

-2.2518907367915677

In [16]:
standardize_edildi.max()

3.8686989269435594

In [ ]:
# maximum absolute scaler, robust scaler - ARAŞTIR

# Kesikli hale getirme (discretization)
1. kategorik halde getirdiğimiz verilere aralık belirleriz.

In [19]:
yas_aralik = [0,18,50,120]
pd.cut(x=set,bins=yas_aralik)

0      (18, 50]
1      (18, 50]
2      (18, 50]
3      (18, 50]
4      (18, 50]
         ...
886    (18, 50]
887    (18, 50]
888    (18, 50]
889    (18, 50]
890    (18, 50]
Name: Age, Length: 891, dtype: category
Categories (3, interval[int64, right]): [(0, 18] < (18, 50] < (50, 120]]

In [20]:
pd.cut(x=set,bins=yas_aralik,labels=['çocuk','genç','yaşlı'])

0      genç
1      genç
2      genç
3      genç
4      genç
       ...
886    genç
887    genç
888    genç
889    genç
890    genç
Name: Age, Length: 891, dtype: category
Categories (3, object): ['çocuk' < 'genç' < 'yaşlı']

# İkili hale dönüştürme ((0-1) binary)
- get_dummies(): bu fonksiyon, sürekli verileri ikili hale getirmede kullanılabilir.

In [22]:
veri_seti.Embarked.head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

In [25]:
pd.get_dummies(veri_seti.Embarked)

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]

In [26]:
veri_seti.Sex

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [30]:
pd.get_dummies(veri_seti.Sex,prefix="cinsiyet")
#drop_first parametresi ile sadece ilk sütunu almak mümkündür.

     cinsiyet_female  cinsiyet_male
0                  0              1
1                  1              0
2                  1              0
3                  1              0
4                  0              1
..               ...            ...
886                0              1
887                1              0
888                1              0
889                0              1
890                0              1

[891 rows x 2 columns]

In [ ]:
#qcut() fonksiyonu: